---
layout: default
---

{% include lang.html %}

<h2>Projects</h2>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mb-5 projects-grid">
  {% assign sorted_projects = site.projects | sort: 'order' %}
  {% for project in sorted_projects %}
    <div class="col">
      <article class="card h-100 project-card">
        {% if project.image %}
            <img src="{{ project.image | relative_url }}" class="card-img-top" alt="{{ project.title }}">
        {% endif %}
        <a href="{{ project.url | relative_url }}" class="text-decoration-none">
          <div class="card-body">
            <h5 class="card-title">{{ project.title }}</h5>
            <p class="card-text text-muted">{{ project.description }}</p>
          </div>
          <div class="card-footer bg-transparent border-0">
            <div class="d-flex flex-wrap gap-2">
              {% for tag in project.tags %}
                <span class="badge bg-secondary">{{ tag }}</span>
              {% endfor %}
            </div>
          </div>
        </a>
      </article>
    </div>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
  {% include post-paginator.html %}
{% endif %}